@using ECommerce.WEB.Areas.Admin.Model.ShippersManagement
@model List<ShipperListView>
@{
    ViewBag.Title = "Kargo Yönetimi";
}

<!-- page title area end -->
<div class="main-content-inner">
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Kargo Yönetimi</h4>
                    <a href="@Url.Action("Insert","Shipper")" class="btn btn-primary float-right">Kargo Ekle</a>
                    <br />
                    <br />
                    <br />
                    <div class="data-tables">
                        <table id="dataTable" class="text-center">
                            <thead class="bg-light text-capitalize">
                                <tr>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Kargo İsmi</th>
                                    <th scope="col">Düzenle</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ShipperListView shipper in Model)
                                {
                                    <tr>
                                        <td> <img src="~/Uploads/ShippersLogo/@shipper.ImagePath" height="100" width="100" alt="" class="img-responsive" /></td>
                                        <td> @shipper.Name</td>
                                        <td>
                                            <ul class="d-flex justify-content-center">
                                                <li class="mr-3">
                                                    <a href="@Url.Action("Update", "Shipper", new {id=shipper.ShipperId})" class="text-secondary"><i class="fa fa-edit"></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="d-flex justify-content-center">
                                                <li><a href="@Url.Action("Delete", "Shipper", new {id=shipper.ShipperId})" class="text-danger"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- data table end -->
    </div>
</div>


