
@{
    ViewBag.Title = "IndexProductStoreWindow";
}

<h2>IndexProductStoreWindow</h2>

<!-- tab section start -->
<section class="section-b-space tab-layout1 grey-bg ratio_square">
    <div class="theme-tab">
        <div class="drop-shadow">
            <div class="left-shadow">
                <img src="../assets/images/left.png" alt="" class=" img-fluid">
            </div>
            <div class="right-shadow">
                <img src="../assets/images/right.png" alt="" class=" img-fluid">
            </div>
        </div>
        <ul class="tabs">
            <li class="current">
                <a href="tab-1.html">top rated</a>
            </li>
        </ul>
        <div class="tab-content-cls">
            <div id="tab-1" class="tab-content active default">
                <div class="container">
                    <div class="row border-row1 grid-5">
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/1.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/2.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/3.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/4.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/5.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/6.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/7.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/8.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/9.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-5">
                            <div class="product-box product-full">
                                <div class="img-block">
                                    <a href="product-page.html"><img src="../assets/images/furniture/10.jpg" class=" img-fluid bg-img" alt=""></a>
                                    <div class="cart-right">
                                        <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart"></i></button>
                                        <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>finish</h5>
                                                <ul class="type-box color-variant">
                                                    <li class="active"><img src="../assets/images/furniture/type/1.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/2.jpg" alt=""></li>
                                                    <li><img src="../assets/images/furniture/type/3.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- tab section start -->