<div class="user-profile pull-right">
    <img class="avatar user-thumb" src="~/Themes/AdminAssets/images/author/avatar.png" alt="avatar">
    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Yönetici <i class="fa fa-angle-down"></i></h4>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Mesajlar</a>
        <a class="dropdown-item" href="#">Ayarlar</a>
        <a class="dropdown-item" href="@Url.Action("Logout","Home")">Çıkış Yap</a>
    </div>
</div>