@using ECommerce.WEB.Areas.Admin.Model.ParameterManagement
@model List<ParameterListView>
@{
    ViewBag.Title = "Ürün Özellikleri";
}

<div class="main-content-inner">
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Ürün Özellikleri</h4>
                    <a href="@Url.Action("InsertProductProperty","Parameter")" class="btn btn-primary float-right">Ürün Özellikleri</a>
                    <br />
                    <br />
                    <br />
                    <div class="data-tables">
                        <table id="dataTable" class="text-center">
                            <thead class="bg-light text-capitalize">
                                <tr>
                                    <td>Parametre Adı</td>
                                    <td>Güncelle</td>
                                    <td>Sil</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ParameterListView parameter in Model)
                                {
                                    <tr>

                                        <td>@parameter.Name</td>

                                        <td>
                                            <ul class="d-flex justify-content-center">
                                                <li class="mr-3">
                                                    <a href="@Url.Action("UpdateProductProperty", "Parameter", new {id=parameter.ParameterId})" class="text-secondary"><i class="fa fa-edit"></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="d-flex justify-content-center">
                                                <li><a href="@Url.Action("DeleteProductProperty", "Parameter", new {id=parameter.ParameterId})" class="text-danger"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- data table end -->
    </div>
</div>



