@using ECommerce.WEB.Areas.Admin.Model.ParameterManagement
@model ParameterCRUDModel
@{
    ViewBag.Title = "Ürün Özelliği Güncelle";
}

@using (Html.BeginForm("UpdateProductProperty", "Parameter", FormMethod.Post, new { id = "UpdateProductProperty", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(s=>s.ParameterId)
    <div class="col-lg-6 col-ml-12">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Ürün Özelliği Güncelle</h4>
                        <div class="form-group">
                            <label class="col-form-label">Ürün Özelliği</label>
                            @Html.TextBoxFor(s => s.Name, new { @class = "form-control", required = "", placeholder = "İsim" })
                            @Html.ValidationMessageFor(s => s.Name)
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Kaydet" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    <script>
        Jform("#UpdateProductProperty");
    </script>
}

