@model ECommerce.WEB.Utility.Extension.Mail.Model.DefaultMailTemplate
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Test Deneme </p>
    </div>
</body>
</html>
