@using ECommerce.WEB.Models.SliderManagement
@model List<SliderViewModel>
<link rel="stylesheet" type="text/css" href="~/Themes/assets/css/slick-theme.css">
<link rel="stylesheet" type="text/css" href="~/Themes/assets/css/slick.css">
<!-- home slider section start-->
<section class="p-0 full-slider">
    <div class="slide-1 home-slider home-55">
        @foreach (SliderViewModel slider in Model)
        {
        <div>
            <div class="home text-left p-left">
                <img src="~/Uploads/SliderImage/@slider.ImagePath" class="bg-img " alt="">
                @*<div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h5>apple laptop</h5>
                                    <h1>latest laptop</h1>
                                    <h4>save up to 50%</h4>
                                    <a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        }
        
    </div>
</section>
<!-- home slider section end-->
