@model ECommerce.WEB.Models.AppUserManagement.AppUserCRUDModel
@{
    ViewBag.Title = "Şifre ";
}

@using (Html.BeginForm("Password", "Home", FormMethod.Post, new { id = "Password" }))
{
    @Html.HiddenFor(s => s.AppUserId)
    <!--section start-->
    <section class="pwd-page section-b-space ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <h2>ŞİFREMİ UNUTTUM</h2>
                    <h6>
                        Yeni şifre belirlemek için kayıtlı e-posta  adresinizi yazınız.
                    </h6>
                    <h6> Şifre değiştirme linkini e-posta  adresinize göndereceğiz.</h6>
                    <form class="theme-form">
                        <div class="form-row">
                            <div class="col-md-12">
                                @Html.LabelFor(s => s.Email, new { @class = "col-form-label" })
                                @Html.TextBoxFor(s => s.Email, new { @class = "form-control", type = "email" })
                                @Html.ValidationMessageFor(c => c.Email)
                                <br />
                                <input type="submit" value="ŞİFREMİ YENİLE" class="btn btn-solid" />
                            </div>
                            

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
}

@section Scripts{
    <script>
        Jform("#Password")
    </script>
}